@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-3 fw-bold text-center">Bienvenido a Mundo Viajero</h1>





<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://www.bbva.com/wp-content/uploads/2023/05/salud-financiera-BBVA-viajes-sorpresa-barato.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://www.bbva.com/wp-content/uploads/2023/05/salud-financiera-BBVA-viajes-sorpresa-barato.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://www.bbva.com/wp-content/uploads/2023/05/salud-financiera-BBVA-viajes-sorpresa-barato.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="text-center container-with-shadow">
    <p>En los últimos años ha habido un aumento de los viajes de ocio en todo el mundo, siendo uno de los negocios más en auge.  </p>
    <p>Cada día existen más agencias de viaje o sitios web en los que el usuario puede encontrar el viaje soñado y siempre al mejor precio. Por eso, nosotros queremos ofrecer una herramienta para que el usuario sea capaz de descubrir cuál es su destino perfecto para unas vacaciones inolvidables.</p>

</div>

<div class="text-center container-with-shadow">
    <p>El principal objetivo marcado con la empresa Mundo Viajero es desarrollar un sitio web para la recomendación de destinos turísticos que permita: </p>
    <p>- La posibilidad de filtrar destinos según sus necesidades     </p>
    <p>- Buscar destinos según zonas geográficas </p>
    <p>- Consultar sus últimas búsquedas </p>
    <p>- Recomendar viajes a los destinos seleccionados</p>
</div>